<div class="card">
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onAdd(form)">
      <div class="row">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" ngModel id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" ngModel id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="number">Number:</label>
          <input type="number" ngModel id="number" name="number" class="form-control" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-space" [disabled]="!form.valid">Add</button>
          <button type="button" class="btn " (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>