<div class="container">
  <div class="row">
    <div class="col-sm-10 card">
      <div class="card-body">
        <div class=row>
          <h4 class="col-sm-10 card-title"> Contacts</h4>
          <div class="col-sm-2"> 
            <button class="btn  btn-sm btn-success" (click)="addContact()">ADD</button>
          </div>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contact Number</th>
              <th></th>
            </tr>
            <tr *ngFor="let contact of contacts ">
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.number}}</td>
              <td><button type="button" (click)="delete($event,contact.id)" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button></td>

            </tr>
          </tbody>
        </table>
        <div *ngIf="contacts && contacts.length==0">No Records Found!</div>
      </div>
      <hr>
      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let p of pages; let i=index">
          <a class="nav-link " [routerLink]="" (click)="setPage(i,$event)" [ngClass]="{'active': i==page}">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>