<div class="container">
  <div class="row">
    <div class="col-sm-5 card">
      <div class="card-body">
        <div class="row">
          <h4 class="col-sm-10 card-title"> Contact Books</h4>
          <div  class="col-sm-2" >
            <button class="btn  btn-sm btn-success" (click)="addBook()">Add</button>
          </div>
        </div>
        <ul class="list-group">
          <app-contact-book-item class="list-group-item" *ngFor="let book of books; let i=index" [book]="book"
            (onDelete)="deleteBook(book.id)">
          </app-contact-book-item>
        </ul>
        <div *ngIf=" books && books.length==0">No Records Found!</div>
      </div>
    </div>
  </div>
</div>